<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="CADENA_BD" value="Data Source=DESKTOP-CH283NT\MSSQLSERVER03;Initial Catalog=DSI_PPAI_G1;Integrated Security=True" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DSI_PPAI_G1Entities" connectionString="metadata=res://*/Clases.Fronteras.ModeloDePersistencia.csdl|res://*/Clases.Fronteras.ModeloDePersistencia.ssdl|res://*/Clases.Fronteras.ModeloDePersistencia.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TU1U18C;initial catalog=DSI_PPAI_G1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DSI_PPAI_G1Entities1" connectionString="metadata=res://*/Clases.Fronteras.BaseDeDatos.csdl|res://*/Clases.Fronteras.BaseDeDatos.ssdl|res://*/Clases.Fronteras.BaseDeDatos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TU1U18C;initial catalog=DSI_PPAI_G1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DSI_PPAI_G1Entities2" connectionString="metadata=res://*/Clases.Persistencia.Persistencia.csdl|res://*/Clases.Persistencia.Persistencia.ssdl|res://*/Clases.Persistencia.Persistencia.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TU1U18C;initial catalog=DSI_PPAI_G1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DSI_PPAI_G1Entities3" connectionString="metadata=res://*/Clases.Persistencia.ModeloPersistencia.csdl|res://*/Clases.Persistencia.ModeloPersistencia.ssdl|res://*/Clases.Persistencia.ModeloPersistencia.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TU1U18C;initial catalog=DSI_PPAI_G1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PersistenciaEntities" connectionString="metadata=res://*/Clases.Persistencia.ModeloPersistencia.csdl|res://*/Clases.Persistencia.ModeloPersistencia.ssdl|res://*/Clases.Persistencia.ModeloPersistencia.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TU1U18C;initial catalog=DSI_PPAI_G1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DSI_PPAI_G1Entities4" connectionString="metadata=res://*/Clases.Persistencia.ModeloPersistencia.csdl|res://*/Clases.Persistencia.ModeloPersistencia.ssdl|res://*/Clases.Persistencia.ModeloPersistencia.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-TU1U18C;initial catalog=DSI_PPAI_G1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>